{#Michał Bogusławski#}

{% extends 'base.html.twig' %}

{% block title %}Admin page{% endblock %}

{% block body %}

 Add post
    <a class="button" href="logout" style="float: right;">Logout</a>
    <div class="post post-homepage">
        <form>
            
            <input class="input" type="text" name="fauthor" value="Author"><br/>
            
            <textarea class="input" style="height: 200px;" name="fpost"></textarea><br/>
            <input class="input" type="submit" value="Add post">
        </form>
    </div>

{% endblock %}
