{#Michał Bogusławski#}
{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
<div style="width: 100%;text-align: center;">
        <div style ="width: 100px; margin: auto;">
            {{form(form, {'method': 'POST'})}}
        </div>

    </div>
{% endblock %}
