{#Michał Bogusławski#}
{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
<div style="width: 100%;text-align: center;">
        <div style ="width: 100px; margin: auto;">
            <form>
                <label>Login</label>
                <input type="text" name="lnick">
                <input type="password" name=lpassword>
                <input type="submit">
            </form>
        </div>

    </div>
{% endblock %}
