{#Michał Bogusławski#}

{% extends 'base.html.twig' %}

{% block title %}Blog kulinarny!{% endblock %}

{% block body %}


{% for post in blog_posts %}
    <div class="post post-homepage">
        <a class="button" href="{{ path('post', {post_id: post.id}) }}">{{ post.title}}</a><br>
        Author: {{ post.author }} <br/><hr>

    </div>
{% endfor %}

{% endblock %}
