{#Michał Bogusławski#}

{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}

<a class="button" href="url">Home page</a>

<div class="post">
    Post Title {{controller_name}}<br/>
    Author: adadada <br/><hr>
    tatatattatatatattttttatatatatatatatatatatatatatatatat

</div>

<div class="commentary">
    #1 Author: adadada <br/>
    tatatattatatatattttttatatatatatatatatatatatatatatatatdasdaassssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss

</div>

<div class="commentary commentary-add">
    <form>
        
        <input class="input" type="text" name="fauthor" value="Author"><br/>
        
        <textarea class="input" name="fcommentary"></textarea><br/>
        <input class="input" type="submit" value="Submit">
    </form>
</div>
{% endblock %}
